.orders-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-continue {
  flex: 1;
  text-decoration: none;
  text-align: center;

  border: none;
  border-radius: 10px;
  padding: 18px 23px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.btn-print {
  flex: 1;
  border-radius: 10px;
  padding: 18px 23px;
  background-color: rgb(255, 255, 255);
  border-width: 0.2px;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 500;
}
.btn-continue:hover {
  transform: scale(1.01);
  background-color: hsla(0, 0%, 0%, 0.91);
}
.btn-continue:active {
  transform: scale(1.015);
}
.btn-print:hover {
  transform: scale(1.01);
  background-color: hsla(0, 0%, 97%);
}
.btn-print:active {
  transform: scale(1.015);
}
