.order-itmems-container {
  border: 1px solid black;
  margin: 10px;
  margin-top: 20px;
  border: 1px solid hsl(0, 0%, 85%);
  background-color: hsla(0, 0%, 97%, 0.65);
  border-radius: 15px;
  padding: 25px 30px;
}
.order-items-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
