.order-summary-container {
  border: 1px solid black;
  margin: 10px;
  margin-top: 20px;
  border: 1px solid hsl(0, 0%, 85%);
  background-color: hsla(0, 0%, 97%, 0.65);
  border-radius: 15px;
  padding: 25px 30px;
}
.order-summary {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.order-summary-id,
.order-summary-placed,
.order-summary-total {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(220, 9%, 46%);
}
.h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #111827;
}
.total {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
}
hr {
  border: 0;
  height: 1px;
  background-color: hsl(0, 0%, 88%);
  margin: 20px 0;
  width: 100%;
}
.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  color: black;
}
.address-container p {
  margin-top: 10px;
}
.payment p {
  margin-top: 10px;
}
