.order-success {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid hsl(141, 79%, 85%);
  border-radius: 12px;
  background-color: #f0fdf4;
  /* color: hsl(120, 100%, 12%); */
  padding: 18px 22px;
  margin: 10px;
  max-width: 500px;
}
.order-success-icon {
  width: 35px;
  flex-shrink: 0;
}
.order-success-icon svg {
  fill: green;
}
.order-success-info h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 4px;
}
.order-success-info p {
  font-size: 0.95rem;
  font-weight: 400;
  color: #065f46;
}
