.orders-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}
.no-order {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.no-order h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.no-order a {
  margin-top: 10px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid transparent;
}

.no-order a:hover {
  border-color: #000;
}
