.payment-text {
  font-size: 1.4rem;
  font-weight: 600;
}
.payment-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-size: 0.95rem;
  font-weight: 400;
  color: hsl(217, 19%, 27%);
}
.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-info-total {
  margin-bottom: 30px;
}
.payment-info-total-text {
  font-size: 1.05rem;
  font-weight: 600;
  color: black;
}
.payment-info-total-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #111827;
}
.payment-btn {
  background: none;
  border: none;
  border-radius: 10px;
  background-color: black;
  width: 100%;
  padding: 15px 20px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
}
