.preview-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 14px;
  padding: 18px 20px;
  background: white;
}
/* LEFT SIDE */
.preview-left-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.preview-delivery-time {
  color: hsl(139, 100%, 29%);
  font-weight: 500;
}
.preview-img {
  border-radius: 10px;
  overflow: hidden;
}
.preview-img img {
  border-radius: 10px;
}
.preview-img img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

/* RIGHT SIDE */
.preview-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.preview-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.preview-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.preview-details-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.preview-details-description {
  font-size: 0.95rem;
  color: hsl(220, 9%, 46%);
}
.preview-info-price {
  font-size: 1.2rem;
  font-weight: 600;
}
.preview-info-quantity {
  font-size: 0.95rem;
  color: hsl(220, 9%, 46%);
}
